.container{
    background-color: beige;
    margin: 2vh;
    .userForm{
        background-color: bisque;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        label{
            margin: 1vh;
            font-weight: bolder;
        }
        input{
            padding: 2vh 5vh;
        }
        button{
            background-color: ghostwhite;
        }
    }
}