.view{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .up{
        width: inherit;
        height: 10%;
        display: flex;
    }
    .down{
        width: inherit;
        height: 90%;
        margin-top: 2vh;
    }
}